@let todoTasks = (this._taskService.todoTask | async) ?? [];
@let doingTasks = (this._taskService.doingTask | async) ?? [];
@let doneTasks = (this._taskService.doneTask | async) ?? [];
@let noTasksCreated = todoTasks.length === 0 && doingTasks.length === 0 && doneTasks.length === 0;

<div class="p-3 mb-6 flex overflow-x-auto scrollbar-hidden" cdkDropListGroup>
  <app-task-column
    id="todo-column"
    titulo="A Fazer"
    status="todo"
    [totalTarefas]="todoTasks.length"
    [taskList]="todoTasks"
  />
  <app-task-column
    id="doing-column"
    titulo="Fazendo"
    status="doing"
    [totalTarefas]="doingTasks.length"
    [taskList]="doingTasks"
  />
  <app-task-column
    id="done-column"
    titulo="Feito"
    status="done"
    [totalTarefas]="doneTasks.length"
    [taskList]="doneTasks"
  />
</div>
<!--<p>TODO: {{ todoTasks.length }}</p>-->
<!--<p>DOING: {{ doingTasks.length }}</p>-->
<!--<p>DONE: {{ doneTasks.length }}</p>-->

<!--<p>TODO: {{ todoTasks | json }}</p>-->
<!--<p>DOING: {{ doingTasks | json }}</p>-->
<!--<p>DONE: {{ doneTasks | json }}</p>-->

@if (noTasksCreated) {
  <div class="bg-[#FAFAFA] rounded-sm py-3 px-5 border-l-4 border-black">
    <p class="font-semibold text-lg text-[#9CA3AF]">Nenuma tarefa disponível no momento.</p>
  </div>
}

