<!-- Form field signals -->
@let email = loginForm.email();
@let password = loginForm.password();

<!-- Formulário de Login do Usuário -->
<form class="space-y-8" (ngSubmit)="login(); $event.preventDefault()">
  <div>
    <h1 class="text-2xl font-bold text-white">Acesse sua conta</h1>
  </div>

  <div class="space-y-4">
    <div
      class="flex items-center bg-[#202024] rounded-lg border border-transparent focus-within:border-purple-700 transition px-4 py-3"
    >
      <img ngSrc="/images/email.svg" height="20" width="20" alt="Email" class="mr-3 opacity-50"/>
      <input
        placeholder="E-mail"
        [field]="loginForm.email"
        class="bg-transparent outline-none text-white w-full placeholder-gray-500"
      />
    </div>
    @if (email.touched() && email.invalid()) {
      <p class="text-red-400 font-bold text-sm">{{ email.errors()[0].message }}</p>
    }

    <div
      class="flex items-center bg-[#202024] rounded-lg border border-transparent focus-within:border-purple-700 transition px-4 py-3"
    >
      <img ngSrc="/images/password.svg" height="20" width="20" alt="Senha" class="mr-3 opacity-50"/>
      <input
        placeholder="Senha"
        type="password"
        [field]="loginForm.password"
        class="bg-transparent outline-none text-white w-full placeholder-gray-500"
      />
    </div>
    @if (password.touched() && password.invalid()) {
      <p class="text-red-400 font-bold text-sm">{{ password.errors()[0].message }}</p>
    }
  </div>

  <button
    class="w-full bg-purple-800 hover:bg-purple-700 text-white font-bold py-3 rounded-lg transition duration-200 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
    type="submit"
    [disabled]="loginResource.isLoading() || loginForm().invalid()"
  >
    Entrar
  </button>

  @if (loginError()) {
    <p class="text-red-400 font-bold text-sm">{{ loginError() }}</p>
  } @else {
    <p class="text-red-400 font-bold text-sm">&nbsp;</p>
  }
</form>
