<header class="bg-[#FAFAFA] py-3 px-6 w-full flex">
  <div class="flex items-center gap-2">
    <img ngSrc="/icons/icon-logo.svg" alt="Logo" height="19" width="18">
    <h1 class="font-bold">GoTask</h1>
  </div>
  <nav class="ml-auto flex gap-6">
    <button class="bg-white p-2 rounded-xl">
      <img ngSrc="/icons/icon-notification.svg" alt="Notification" height="20" width="21">
    </button>
    <div class="flex items-center gap-3">
      <img ngSrc="/icons/icon-user-avatar.svg" alt="Avatar" height="28" width="28">
      <span class="font-bold">Jennie K.</span>
      <button class="size-4">
        <img ngSrc="/icons/icon-sign-out.svg" alt="Arrow Down" height="16" width="16">
      </button>
    </div>
  </nav>
</header>
