<div class="p-3 bg-[#FAFAFA] rounded-xl cursor-grab flex flex-col gap-3">
  <div class="flex gap-1">
    <p class="font-bold" title="{{ task().name }}">
      {{ task().name.length < 15 ? task().name : task().name.slice(0, 15) + '...' }}
    </p>
    <button type="button"
            class="size-4 self-start cursor-pointer ml-auto active:translate-y-0.5 transition-transform duration-75"
            (click)="openDeleteTaskModal()"
    >
      <img ngSrc="/icons/icon-delete.svg" alt="Delete icon" height="16" width="16" />
    </button>
  </div>
  <p class="font-light text-sm" title="{{ task().description }}">
    {{ task().description.length < 15 ? task().description : task().description.slice(0, 15) + '...' }}
  </p>
  <div class="flex items-center gap-1">
    <button
      type="button"
      class="flex items-center gap-1 active:translate-y-0.5 transition-transform duration-75"
      (click)="openCommentsTaskModal()"
    >
      <img class="size-4 self-start cursor-pointer" ngSrc="/icons/icon-comments.svg" alt="Comments icon" height="16"
           width="16" />
      <p class="font-semibold text-[#2A89EF] text-xs underline underline-offset-2 cursor-pointer">
        {{ task().comments.length }} Comentários
      </p>
    </button>
    <button type="button"
            class="font-semibold text-[#2A89EF] text-xs underline underline-offset-2 cursor-pointer ml-auto
            active:translate-y-0.5 transition-transform duration-75"
            (click)="openEditTaskModal()"
    >
      Editar
    </button>
  </div>
</div>

