main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover; /*Cobrir os espaços caso não esteja em um quadrado perfeito*/
}