<!-- Form field signals -->
@let name = registerForm.name();
@let email = registerForm.email();
@let password = registerForm.password();
@let confirmPassword = registerForm.confirmPassword();
<!-- Formulário de Cadastro de Usuário -->
<form class="space-y-8" (ngSubmit)="register(); $event.preventDefault()">
  <div>
    <h1 class="text-2xl font-bold text-white">Crie sua conta</h1>
  </div>

  <div class="space-y-4">
    <div
      class="flex items-center bg-[#202024] rounded-lg border border-transparent focus-within:border-purple-700 transition px-4 py-3"
    >
      <img ngSrc="/images/username.svg" class="mr-3 opacity-50" width="20" height="20" alt="Username"/>
      <input
        [field]="registerForm.name"
        placeholder="Nome"
        class="bg-transparent outline-none text-white w-full placeholder-gray-500"
      />
    </div>
    @if (name.touched() && name.invalid()) {
      <p class="text-red-400 font-bold text-sm">{{ name.errors()[0].message }}</p>
    }

    <div
      class="flex items-center bg-[#202024] rounded-lg border border-transparent focus-within:border-purple-700 transition px-4 py-3"
    >
      <img ngSrc="/images/email.svg" class="mr-3 opacity-50" width="20" height="20" alt="Email"/>
      <input
        [field]="registerForm.email"
        placeholder="E-mail"
        class="bg-transparent outline-none text-white w-full placeholder-gray-500"
      />
    </div>
    @if (email.touched() && email.invalid()) {
      <p class="text-red-400 font-bold text-sm">{{ email.errors()[0].message }}</p>
    }

    <div
      class="flex items-center bg-[#202024] rounded-lg border border-transparent focus-within:border-purple-700 transition px-4 py-3"
    >
      <img ngSrc="/images/password.svg" class="mr-3 opacity-50" width="20" height="20" alt="Password"/>
      <input
        [field]="registerForm.password"
        placeholder="Senha"
        type="password"
        class="bg-transparent outline-none text-white w-full placeholder-gray-500"
      />
    </div>
    @if (password.touched() && password.invalid()) {
      <p class="text-red-400 font-bold text-sm">{{ password.errors()[0].message }}</p>
    }

    <div
      class="flex items-center bg-[#202024] rounded-lg border border-transparent focus-within:border-purple-700 transition px-4 py-3"
    >
      <img ngSrc="/images/password.svg" class="mr-3 opacity-50" width="20" height="20" alt="confirm password"/>
      <input
        [field]="registerForm.confirmPassword"
        placeholder="Confirme a senha"
        type="password"
        class="bg-transparent outline-none text-white w-full placeholder-gray-500"
      />
    </div>
    @if (confirmPassword.touched() && confirmPassword.invalid()) {
      <p class="text-red-400 font-bold text-sm">{{ confirmPassword.errors()[0].message }}</p>
    }
  </div>

  <button
    class="w-full bg-purple-800 hover:bg-purple-700 text-white font-bold py-3 rounded-lg transition duration-200 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
    type="submit"
    [disabled]="registerResource.isLoading() || registerForm().invalid()"
  >
    Criar
  </button>
  @if (registerError()) {
    <p class="text-red-400 font-bold text-sm">{{ registerError() }}</p>
  } @else if (successMessage()) {
    <p class="text-green-400 font-bold text-sm">{{ successMessage() }}</p>
  } @else {
    <p class="text-red-400 font-bold text-sm">&nbsp;</p>
  }
</form>
